* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
}
html,body,main{
  height: 100%;
  position: relative;
}
body{
  font-size: 12px;
  line-height: 1.2;
}
main>section {
  height: calc(100% - 45px);
  padding: 10px;
  background: #fff;
  overflow: scroll;
  -webkit-overflow-scrolling: touch; /*ios 上增加弹性*/
}
main>section{
  display: none;
}
main section:first-child{
  display: block;
}
.item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  padding-top: 10px;
}
.item>a{
  display: block;
  display: flex;
}
.item .cover,
.item .cover img{
  width: 70px;
}
.item .detail {
  flex: 1;
  padding-left: 10px;
}
.item .detail h2{
  font-size: 16px;
}
.item .detail .extra{
  color: #999;
  margin-top: 4px;
}
.item .detail .score{
  color: #FF5722;
}
.loading {
  text-align: center;
  padding-top: 10px;
  display: none;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg);  }
}
#search {
  height: calc(100% - 45px);
}
section .search-area{
  color: #333;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
section .search-area input {
  width: calc(100% - 50px);
  padding: 8px;
  background-color: #eee;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  outline: none;
}
section .search-area .button{
  position: absolute;
  right: 0;
  padding: 8px 10px;
  background: #FF5722;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}
.loading .iconfont{
  display: inline-block;
  animation: 1s rotate linear infinite;
}
footer {
  position: absolute;
  bottom: 0;
  height: 45px;
  width: 100%;
  border-top: 1px solid #ccc;
  background-color: #fff;
  display: flex;
}
footer>div {
  flex: 1;
  font-size: 12px;
  text-align: center;
  color: #666;
  padding-top: 6px;
}
footer .active{
  color: #FF5722;
}
footer>div>span{
  display: block;
} 